.bobee-container-fluid {
    padding: 0;
}

.banner {
    position: relative;
    margin: 20px auto 0;
    overflow: hidden;
}

.wrapper {
    margin-bottom: 20px;
}

.banner-wrapper {
    margin-top: 40px;
    margin-bottom: 20px;
}

.bobee-title {
    display: none;
}

.bobee-title p {
    margin: 0 10px;
    color: white;
    font-size: 1.4em;
}


/*
.fb-login-row {
    text-align: center;
    margin: 0 0 20px 0;
} */

.game-login-wrapper {
    margin-top: 50px;
    margin-bottom: 50px;
}

.fb-login-block {
    margin: 20px 0 10px 0;
    text-align: center;
}

.fb-status {
    text-align: center;
    color: white;
}

.navbar-bobee {
    background-color: #831318;
    border-color: #831318;
}

body {
    background-color: #881D18;
}

.bobee-navbar-collapse {
    background-color: #5C0D07;
}

.bobee-navbar-header {
    background-color: #1E1819;
}

.navbar-default .bobee-navbar-brand {
    color: white;
}

.game-stat-div {
    color: white;
    font-size: 2em;
    margin: 0 10px;
    padding: 20px;
    border: 0.1px solid white;
}

.game-stat-block{
    text-align: center;
    font-size: 0.3em;
}

.right-border-block{
    display: inline-block;
    padding-right:20px;
    border-right: 1px solid white;
}

.bobee-chart-header {
    background-color: #53302E;
    margin-bottom: 10px;
}

.bobee-chart-header .chart-title span {
    color: #F3D664;
    font-size: 2em;
}

.bobee-chart-header span.search-icon {
    font-size: 1em;
    padding-right: 2px;
}

.bobee-chart-header button {
    border: 0;
    background-color: #000000;
    padding: 4px 10px 6px 4px;
    color: white;
    text-align: center;
    font-size: 1.3em;
}

.bobee-chart-body {
    background-color: #1D1919;
    font-size: 1em;
    text-align: center;
}

.bobee-chart-body .table-head {
    color: #CB6A77;
    font-size: 1.5em;
    margin: 20px 0;
}

.bobee-chart-body div.table-body {
    color: white;
    margin-top: 5px;
}

.bobee-chart-body div.table-body:nth-child(2) {
    color: #F3D664;
}

.pageBtn {
    color: white;
    border: 2px solid white;
    padding: 5px;
    margin: 5px;
}

.chart-title {
    text-align: center;
}

.search-input {
    background-color: #1E1818;
    border: 0;
    height: 34px;
    width: 50%;
    color: white;
    /* left: -5px; */
    position: relative;
}


/* vertical and horizontal center the bootstrap 3 modal   */

.vertical-alignment-helper {
    display: table;
    height: 100%;
    width: 100%;
}

.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
}

.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width: inherit;
    height: inherit;
    /* To center horizontally */
    margin: 0 auto;
}

div.game-rule {
    background-color: black;
    height: 150px;
}

div.rule-text-div {
    margin: 10px auto;
    background-color: #1E1A16;
    width: 80px;
    height: 60px;
    padding-top: 10px;
}

div.rule-text {
    color: white;
    font-size: 1em;
    text-align: center;
}

div.ten-chart {
    background-color: black;
    min-height: 200px;
}

div.articles {
    background-color: black;
    padding-bottom: 20px;
}

div.articles-head {
    color: white;
    background-color: #1E1A16;
    text-align: center;
    margin: 20px 0;
    padding: 20px 0;
    font-size: 1.8em;
}

div.article-block {
    margin-bottom: 30px;
}

div.article-block .article-title {
    color: white;
    text-align: center;
    margin-top: 20px;
    font-size: 1.2em;
}

div.game-desc-div {
    background-color: white;
    padding-bottom: 20px;
}

h1.game-desc-title {
    color: #721B17;
    margin: 10px 10px 15px 20px;
    font-size: 1.2em;
}

pre.game-desc-pre {
    margin: 0 10px;
}

div.chart-block {
    text-align: center;
    margin-left: 15px;
}

div.chart-block div.no {
    text-align: left;
    color: #D2B961;
    font-size: 1.8em;
}

div.chart-block span.nickname {
    color: #9F6A6F;
    margin-right: 10px;
    font-size: 1.2em;
}

div.chart-block span.holyCount {
    color: #D2B961;
    margin-right: 10px;
    font-size: 1.2em;
}

.game-desc-div {
    background-color: white;
}

.game-desc-div ul {
    list-style-type: none;
    margin-left: 40px;
}


/* div.chart-block span.reachedTime {
    color: white;
    font-size: 0.6em;
} */

div.chart-link-div {
    width: 200px;
    margin: 20px auto;
    background-color: orange;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
}

div.chart-link-div a {
    color: white;
}

div.search-div {
    text-align: center;
}

p.game-desc-content {
    margin-left: 40px;
}

div.game-desc-award-img-div {
    margin: 0 20px 20px 20px;
    padding: 20px 0;
}

img.game-desc-award-img {
    width: 100%;
}

h1.game-desc-award-title {
    font-size: 1.5em;
}

span#login-status {
    color: white;
    font-size: 1.2em;
}

.stat-number{
    font-size: 4em;
}



/* RWD for PC  */
@media screen and (min-width: 768px) {
    .banner-wrapper {
        margin-top: 40px;
    }
    .bobee-title {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 8vh;
        background-color: #53302E;
    }
    .bobee-title p {
        letter-spacing: 5px;
        font-size: 2.5em;
    }
    ul.bobee-navbar-nav {
        float: none;
        position: relative;
        width: 750px;
        margin: 0 auto;
    }
    ul#bobee-navbar-nav li a {
        border-right: 2px solid #653733;
        padding-top: 0px;
        padding-bottom: 0px;
        font-size: 1.7em;
        color: white;
    }
    .navbar-nav>li.bobee-navbar-li {
        width: 150px;
        float: left;
        font-size: 0.7em;
        padding: 20px 0;
        text-align: center;
    }
    div.rule-text-div {
        width: 100px;
        height: 80px;
        margin: 50px auto 0 auto;
    }
    div.rule-text {
        color: white;
        font-size: 1.5em;
        text-align: center;
    }
    div.articles-head {
        color: white;
        background-color: #1E1A16;
        text-align: center;
        margin: 20px 0;
        padding: 20px 0;
        font-size: 2.5em;
    }
    div.article-block {
        margin-bottom: inherit;
    }
    div.article-img-block {
        height: 200px;
    }
    div.article-img-block img {
        height: 100%;
    }
    div.chart-block {
        margin-left: 0px;
        margin-top: 30px;
    }
    div.chart-block div.no {
        color: #D2B961;
        font-size: 1.3em;
        margin-right: 5px;
        float: left;
    }
    div.chart-block span.nickname {
        color: #9F6A6F;
        font-size: 1.1em;
        margin-right: 5px;
    }
    div.chart-block span.holyCount {
        color: #D2B961;
        font-size: 1.1em;
        margin-right: 5px;
    }
    /* div.chart-block span.reachedTime {
        color: white;
        font-size: 0.6em;
    } */
    div.chart-block-data-div {
        margin-top: 8px;
    }
    h1.game-desc-title {
        margin: 15px 0 20px 40px;
        font-size: 2em;
    }
    span#login-status {
        font-size: 1.5em;
    }
    .fb-login-block {
        margin: 100px 0 10px 0;
    }
    .game-stat-block{
        text-align: center;
        font-size: 0.6em;
    }

    .stat-number{
        text-align:left;
        font-size: 3em;
    }
}